modules/damping.rng

<grammar
   xmlns="http://relaxng.org/ns/structure/1.0"		
   datatypeLibrary="http://www.w3.org/2001/XMLSchema-datatypes"
   xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">

  <define name="damping">
    <ref name="interaction"/>
    <optional><attribute name="linear"/></optional>
    <optional><attribute name="angular"/></optional>
  </define>

</grammar>
